<section class="cart">
  <mat-card class="cart__personal">
    <form class="cart__form" [formGroup]="deliveryReactiveForm" (submit)="onSubmit()">
      <div>
        <h2>Personal information</h2>
        <div>
          <div class="cart__data">
            <mat-form-field appearance="legacy">
              <mat-label>First name</mat-label>
              <input matInput placeholder="First name" type="text" formControlName="firstName" />
            </mat-form-field>
            <mat-form-field appearance="legacy">
              <mat-label>Last name</mat-label>
              <input matInput placeholder="Last name" type="text" formControlName="lastName" />
            </mat-form-field>
            <mat-form-field appearance="legacy">
              <mat-label>Phone</mat-label>
              <input matInput placeholder="You Phone" type="tel" formControlName="phone" />
              <mat-hint>example: +375293334455</mat-hint>
            </mat-form-field>
            <mat-form-field appearance="legacy">
              <mat-label>Email</mat-label>
              <input matInput placeholder="Email" type="email" formControlName="email" />
            </mat-form-field>
          </div>
        </div>
      </div>
      <div class="cart__delivery">
        <div>
          <div class="cart__data">
            <mat-form-field appearance="legacy">
              <mat-label>Country</mat-label>
              <input matInput placeholder="Country" type="text" formControlName="country" />
            </mat-form-field>
            <mat-form-field appearance="legacy">
              <mat-label>City</mat-label>
              <input matInput placeholder="City" type="text" formControlName="city" />
            </mat-form-field>
            <mat-form-field appearance="legacy">
              <mat-label>Street</mat-label>
              <input matInput placeholder="Street" type="text" formControlName="street" />
            </mat-form-field>
            <mat-form-field appearance="legacy">
              <mat-label>Post code</mat-label>
              <input matInput placeholder="Post code" type="number" formControlName="postCode" />
            </mat-form-field>
          </div>
        </div>
      </div>
      <div class="cart__payment">
        <div class="cart__payment-item">
          <input type="checkbox" />
          <span>Apple Pay</span>
          <img
            src="https://upload.wikimedia.org/wikipedia/commons/b/b0/Apple_Pay_logo.svg"
            alt="Apple pay"
          />
        </div>
        <div class="cart__payment-item">
          <input type="checkbox" />
          <span>Pay Pal</span>
          <img
            src="https://www.paypalobjects.com/digitalassets/c/website/logo/full-text/pp_fc_hl.svg"
            alt="Apple pay"
          />
        </div>
        <div class="cart__payment-item">
          <input type="checkbox" />
          <span>Credit a digit card</span>
          <img
            src="https://www.mastercard.by/content/dam/public/mastercardcom/by/ru/homepage/icons/mastercard-logo-52.svg"
            alt="Apple pay"
          />
        </div>
      </div>
    </form>
  </mat-card>

  <mat-card class="cart__order-list">
    <div>
      <h2>You Order:</h2>
      <div class="cart__sum-order">
        <span>Subtotal: ${{ subtotalPrice | number: '1.0-0' }}</span>
        <span>Delivery: ${{ delivery }}</span>
        <span>Total: ${{ subtotalPrice + delivery | number: '1.0-0' }}</span>
        <button mat-raised-button color="primary" type="submit" (click)="onSubmit()">
          Purchase
        </button>
      </div>

      <div class="cart__oder" *ngFor="let product of products">
        <app-cart-item [product]="product"></app-cart-item>
      </div>
    </div>
  </mat-card>
</section>
