<mat-card class="order">
  <img src="{{ product?.image }}" alt="Item" />
  <div>
    <span>{{ product?.title }}</span>
    <span>Quantity:</span>
    <span class="order__count">
      <button mat-mini-fab color="accent" aria-label="list icon" (click)="deleteCountProduct()">
        <mat-icon>exposure_neg_1</mat-icon>
      </button>
      <span>{{ product?.quantityCart }}</span>
      <button mat-mini-fab color="accent" aria-label="list icon" (click)="addCountProduct()">
        <mat-icon>plus_one</mat-icon>
      </button>
    </span>
    <span>Price: {{ product?.price }}</span>
  </div>
</mat-card>
