<mat-card class="order">
  <img src="{{ product?.image }}" alt="Item" />
  <div>
    <span class="order__title">{{ product?.title }}</span>
    <span>Quantity:</span>
    <span class="order__count">
      <button
        class="order__button"
        mat-mini-fab
        color="accent"
        aria-label="list icon"
        (click)="totalCountProduct(MINUS)"
      >
        <mat-icon>exposure_neg_1</mat-icon>
      </button>
      <span>{{ product?.quantityCart }}</span>
      <button
        class="order__button"
        mat-mini-fab
        color="accent"
        aria-label="list icon"
        (click)="totalCountProduct(PLUS)"
      >
        <mat-icon>plus_one</mat-icon>
      </button>
    </span>
    <span>Price: {{ product?.price }}</span>
  </div>
</mat-card>
