<mat-toolbar class="header">
<h1 class="header__logo">My App</h1>
  <div class="header__user">
    <button mat-mini-fab color="warn" aria-label="Example icon button with a delete icon">
      <a [routerLink]="['/profile']">
      <mat-icon>account_circle</mat-icon>
      </a>
    </button>
    <span>User</span>
  </div>
  <div class="header__cart">
    <button mat-mini-fab color="warn">
      <a [routerLink]="['/cart']">
      <mat-icon>add_shopping_cart</mat-icon>
      </a>
    </button>
  </div>
</mat-toolbar>
