<div class="filter__container">
  <h2>Filter</h2>
  <mat-form-field class="filter__search" appearance="standard">
    <mat-label>Filter</mat-label>
    <input matInput placeholder="Search" />
  </mat-form-field>
  <mat-card class="filter__item">filter</mat-card>
  <mat-card class="filter__item">filter</mat-card>
  <mat-card class="filter__item">filter</mat-card>
  <mat-card class="filter__item">filter</mat-card>
  <mat-card class="filter__item">filter</mat-card>
  <mat-card class="filter__item">filter</mat-card>
  <mat-card class="filter__item">filter</mat-card>
</div>
