<mat-card class="card__wrapper">
  <mat-card-title-group>
    <mat-card-title>Lorem</mat-card-title>
    <mat-card-subtitle>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis, deleniti.</mat-card-subtitle>
    <img mat-card-sm-image src="https://material.angular.io/assets/img/examples/shiba2.jpg"  alt="pic">
  </mat-card-title-group>
  <mat-card-content>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. A commodi consequatur eius, laborum mollitia nisi placeat possimus rem veritatis voluptatem.
  </mat-card-content>
</mat-card>
