.nav {
  display: flex;
  justify-content: space-between;
  background-color: aqua;

  &__title {
    margin: 1rem;
  }

  &__list {
    display: flex;
    align-items: center;
    list-style-type: none;
  }

  &__item {
    margin: 0 1rem;
  }

  a {
    text-decoration: none;
  }
}
